{
	"arrowParens": "always",
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"jsxBracketSameLine": false
}
