.BookEditor {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	form {
		width: 100%;

		background-color: snow;
		border: 1px solid gray;
		border-radius: 12px;
		overflow: hidden;

		h1 {
			width: 100%;
			padding: 20px 0;
			text-align: center;
			font-size: 18px;
			line-height: 1.625;
			font-weight: 500;
			border-bottom: 1px solid gray;

			&:hover {
				background-color: pink;
			}
		}

		div {
			padding: 0 20px;
		}

		.button-group {
			padding-bottom: 20px;
		}
	}
}

input[type='date'] {
	position: relative;
	// text-align: center;

	&::-webkit-calendar-picker-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent;
		color: transparent;
		cursor: pointer;
	}
}

@media screen and (min-width: 768px) {
	.BookEditor section {
		width: 50%;
		max-width: 500px;
	}
}
